<form method="post" action="/Login/Index">
	<div class="mb-3">
		<label for="userName" class="form-label">Username</label>
		<input type="text" class="form-control" id="userName" name="UserName" placeholder="Enter your username">
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" class="form-control" id="password" name="Password" placeholder="Enter your password">
	</div>
	<button type="submit" class="btn btn-success">Login</button>
</form>
